body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  color: #444;
  margin: 0;
  padding: 2rem;
}

h1 {
  text-align: center;
  color: #c97aa6;
}

#barra-progreso {
  width: 90%;
  margin: 1rem auto;
  background: #f5d3eb;
  border-radius: 20px;
  height: 25px;
  overflow: hidden;
}

#progreso-interno {
  height: 100%;
  background-color: #e6b5cb;
  width: 0%;
  text-align: center;
  line-height: 25px;
  color: #fff;
  border-radius: 20px;
  transition: width 0.3s ease;
}

.ciclo {
  margin: 2rem 0;
}

.ciclo h3 {
  color: #b06fa1;
  margin-bottom: 0.5rem;
}

.materias {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.materia {
  background-color: #fbe4f0;
  border: 1px solid #e8c6db;
  padding: 10px;
  border-radius: 10px;
  width: 230px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.materia.locked {
  background-color: #ede7f6;
  color: #aaa;
  pointer-events: none;
  border-style: dashed;
}

.materia.completed {
  background-color: #f4a4c6 !important;
}

.materia.completed span {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  opacity: 1;
}

.materia i {
  color: #b28cb6;
}